<div>
  <article>
    <div>
      
    </div>
    <div>
      <div>
        <p>
          <strong><%= feedback.user.username %></strong> 
          <br/>
          <%= feedback.feedback %>
        </p>
      </div>

      <nav>
        <div>

          </a>
          <a>
            <% if has_role?(:admin) %>
            <%= link_to [feedback.presentation, feedback],
                method: :delete, data: {confirm: "Are you sure?" } do %>
            <span><i>Delete</i></span>
            <% end %>
            <% end %>

          </a>
        </div>
      </nav>
</br>
    </div>
  </article>
</div>

