<div class="container">

</br>
<h1 class="title is-size-4">New Presentation</h1>

<%= render 'form', presentation: @presentation %>

<%= link_to 'Back', presentations_path, class:"btn btn-primary" %>

